.option__input--style {
  @include font(400, 1.8rem, 122%);
  color: $color-text-black;
}



.subtitle__input--style {
  position: relative;
  left: 2.9rem;
  top: .9rem;
  @include font(400, 1.4rem, 121%);
  color: #959AAE;
  background: #FFFFFF;
  border: 7px solid #FFFFFF;
}

