.drive__wrapper {
  width: 190rem;
  margin: 0 auto;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

@media (max-width: 48em) {
  .drive__wrapper {
    position: relative;
    width: 100%;
    bottom: 10rem;
    
  }
}