.test__title {
  @include font(900, 4.4rem, 120%);
  color: $color-text-black;
  width: 68.2rem;
  padding-top: 9.5rem;
  padding-bottom: 1.3rem;
}

@media (max-width: 48rem) {
  .test__title {
    width: 100%;
    padding-left: 4rem;
    padding-right: 4rem;
  }
}