* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 0.520835vw; // на разрешении 1920 0.520835 === 10px
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;

}
body {
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  margin: 0;
  padding: 0;
  color: $color-text-black;
  background-color: #ffffff;
}

.container {
  width: 117rem;
  margin: 0 auto;
}

a,
a:hover {
  text-decoration: none;
}

input,
button {
  border: none;
  outline: none;
  cursor: pointer;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media (max-width: 48rem) {
  html {
    // fon-size: 5px;
    font-size: 1.3333vw;
    // font-size: (100/200) *5vw; где 320 это ширина моб версии
  }

  .container {
    padding: 0 3.2rem;
    width: 100%;
  }
}