.header-basket__count {
  @include font(bold, 1.2rem, 140%);
  
}

@media (max-width: 48em) {
  .header-basket__count {
    position: relative;
    font-size: 1.8rem;
    right: 2rem;
    top: -1rem;
  }
  
}